@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

::selection{
  background: #a3f5ec;
}

body {
  background: url("../img/02.jpg") no-repeat; 
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

header{

  position: absolute;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  background-color: rgba(65, 53, 67);

}

main {
  margin-top: 4.2rem;
}

.nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
  background-color: rgba(65, 53, 67);
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  
}

.logo h1 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #ffff;
}


.menu-list{
  display: flex;
}
.menu-list li{
  list-style: none;
  margin: 0 10px;
}
.menu-list a{
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.menu-list a:hover{
  color: #000;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}


.search-box{
  position: relative;
  height: 35px;
  width: 170px;
}
.search-box input[type="text"]{
  position: absolute;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  color: #2c3350;
  border: 2px solid #2c3350;
  background: #f2f2f2;
  padding: 0 10px 0 40px;
}
.search-box a{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  color: #2c3350;
  transform: translateY(-50%);
  border-right: 2px solid #2c3350;
  padding: 0 5px 0 0;
}




.text-content{
  position: fixed;
  top: 33%;
  left: 7%;
  /* z-index: 12; */
}
.text{
  font-size: 27px;
  color: #2c3350;
}
.name{
 color: #2c3350;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
.job{
 color: #2c3350;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.typing-text{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1de2d1;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #1de2d1;
}
.text-content .job .two{
  color: #1de2d1;
}
.buttons{
  margin: 20px 0 0 50px;
}
.buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, rgba(65, 53, 67)    40%, #E3BC9A 100%);
}
.buttons button:hover{
  transform: scale(0.87);
}

/*****************************************/
/* Estilos para la sección Quienes Somos */
/*****************************************/

.con_somos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  background-color: rgba(218, 194, 194, 1.8);
  margin: 10px 50px;
  border-radius: 15px;
}

.description {
  flex: 1;
  margin: 0 50px ;
  text-align: justify;
}



.mapa_somos {
  flex: 1;
  padding: 25px;

}

.mapa_somos iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

/*****************************************/
/* Estilos para el texto de descripción */
/*****************************************/

.description h2 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #352b2b;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 10px;
}

.description p {
  font-size: 12px;
  color: #000000;
}
/*****************************************/
/* Estilos para el mapa de Google */
/*****************************************/


.mapa_somo iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

/*  FAQ   */


.faq {
  font-weight: bold;
  color: #094cd0;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  background-color: #ffffff;
}


.question {
  margin-bottom: 20px;
  margin: 2rem;
  color: #000000;
  background-color: #878517ab;
  border-radius: 5px;
  margin: 2rem 2rem;
  padding: 2rem;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

 
.question:hover{
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}


.answer {
  margin-bottom: 20px;
  margin: 2rem;
  color: #2c3350;
  background-color: #fff;
  border-radius: 5px;
  margin: 2rem 2rem;
  padding: 2rem;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  
}

.answer:hover{
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

/*****************************************/
/*                Carousel                 */
/*****************************************/

.slider {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 170px;
  max-height: 170px;
  overflow: hidden;
}

.carousel0 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel0 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-solid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  cursor: pointer;
  z-index: 1; 
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}


/**********************************/
/* ********* productos*************/
/**********************************/


.productoEnVenta {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center
 
}

.grupo-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: rgba(198, 193, 193, 0.712);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.description {
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 10px;
}

.buy-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover{
  transform: scale(0.87);
  color: #2c3350;
}

/* Estilos para el carrito de compras */

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: end;
  margin: 50px 50px;
  text-align: right;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 80px;
  background-color: rgba(198, 193, 193, 0.712);


}

.cart {
  margin: 0;
  

}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  text-align: left;
}

.remove-button {
  background-color: #FF4136;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover{
  transform: scale(0.87);
  color: #2c3350;
}

.cart-summary {
  margin-top: 10px;
}

.cart-total {
  background-color: #35d65d;
}

/*****************/
/* ***Footer *****/
/*****************/

footer {
  background-color: rgb(65, 53, 67);
  padding: 20px;
  /* border-top: 1px solid #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 0;  */
  margin-top: auto;
  position: sticky;
  /* bottom: 0; */
}

footer p {
  font-size: 12px;
  margin: 0;
  color: #f2f2f2;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer i {
  font-size: 32px;
  color: #f2f2f2;
}

/*****************/
/** Formulario  **/
/*****************/

.container-formulario {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h2 {
  text-align: center;
  margin-bottom: 20px;
}
  
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  height: 36px;
}

textarea {
  height: 220px;
}

input[type="submit"] {
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, rgba(65, 53, 67)    40%, #E3BC9A 100%);
}

input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(0.87);
}

/*****************/
/** Responsive  **/
/*****************/

@media only screen and (max-width: 768px) {
    
  .abrir-menu {
    width: auto;
    margin: 10px 0 10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0;
    font-size: 1.85rem;
    background-color: transparent;
    cursor: pointer;
    /* margin-left: auto; Agrega esta propiedad para alinear a la derecha */
    margin-right: 0; /* Agrega esta propiedad para eliminar el margen derecho */
  }
  

  header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  .logo {
    margin: 1.5rem 1rem;
  }

  .logo h1 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    align-self: flex-start; 
  }
  
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.85rem;
    background-color: transparent;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
  }
  

   
  .nav {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5rem;
    /* position: absolute; */
    top: 0;
    right: 0;
    background-color:rgba(65, 53, 67);
   
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .menu-list {
    flex-direction: column;
    align-items: end;
  }


  .menu-list li {
  margin: 0 5px;
  padding: 2rem;
  }
  
  .menu-list a {
  font-size: 14px;
  color: #ccc;
  }
  
  .search-box {
  display: none;
  }
  
  .search-box input[type="text"] {
  font-size: 14px;
  }

  .con_somos {
    flex-direction: column;
    max-width: 450px;
    margin: 2rem auto;
  }

  .description {
    margin: 0 20px 20px;
  }

  .mapa_somos {
   
    padding: 25px 0;
  }

  .mapa_somos iframe {
    height: 250px;
  }


  /* Main */

  main {
    margin: 4rem;
    margin-left: 0;
    margin-right: 0;
  }


  .text-content {
  top: 20%;
  left: 5%;
  }
  
  .text {
  font-size: 16px;
  }
  
  .name {
  font-size: 40px;
  }
  
  .job {
  font-size: 25px;
  }

  .container-formulario {
    max-width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  
  footer {
    flex-direction: column;
    padding: 10px;
  }

  footer p {
    font-size: 10px;
  }

  footer ul {
    margin-top: 10px;
  }

  footer li {
    margin: 5px;
  }

  footer i {
    font-size: 24px;
  }


  .grupo-cards {
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(50% - 20px); 
    background-color: rgba(198, 193, 193, 0.712);
  }

  .cart-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(198, 193, 193, 0.712);
  }
  
  .cart-item {
    flex-direction: column;
  }

  /* slider*/

  .slider {
    height: 150px; /* Ajusta la altura según tus necesidades */
    max-height: none; /* Elimina la limitación máxima de altura en dispositivos móviles */
    width: auto;
    max-width: 100%;
  }

  .carousel0 img {
    height: auto;  
  }

  .fa-solid {
    font-size: 12px;
    padding: 8px;
  }
}






